.app-header {

    width: 100%;
    height: 90px;
    background-color: transparent;
    border: 2px solid  #EF9A9A;
    margin-bottom: 20px;
}

.nav-container {
    list-style: none;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.nav-item {
    width: 100%;
    height: 100%;
    margin: auto 0;
    padding: 0;
}

.header-link {
    color: #000000;
    outline: none;
    text-decoration: underline;
}

.header-link:hover {
    font-weight: 700;
}

@media (max-width: 585px) {
    .header-btn {
        padding: 5px;
        font-size: 13px;
    }
}